@reference "../../styles/globals.css";

.pushable {
  cursor: pointer;
  position: relative;
  padding: 0;
  border: none;
  background: transparent;
  outline-offset: 4px;
  transition: filter 250ms;
}

.shadow {
  @apply bg-main-800/20;

  will-change: transform;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(2px);
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    rgb(4 120 87) 0%,
    rgb(5 150 105) 8%,
    rgb(5 150 105) 92%,
    rgb(4 120 87) 100%
  );
}

.front {
  @apply bg-accent-500;

  will-change: transform;
  position: relative;
  transform: translateY(-4px);
  display: block;
  padding: 10px 0;
  border-radius: 12px;
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover,
.pushable:focus-visible {
  filter: brightness(110%);
}

.pushable:hover .front,
.pushable:focus-visible .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:hover .shadow,
.pushable:focus-visible .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}
