@keyframes waterfall {
  0% {
    transform: translateY(-250%);
    opacity: 0;
  }

  40%,
  60% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(250%);
    opacity: 0;
  }
}

.waterfall {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 10rem;
  background-color: rgb(255 255 255 / 85%);
}

.waterfall div {
  @apply bg-accent-400;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  opacity: 0;
  animation: waterfall 1.5s infinite;
}

.waterfall div:nth-of-type(1) {
  margin-left: -10px;
  animation-delay: 0.25s;
}

.waterfall div:nth-of-type(2) {
  margin-left: 15px;
  animation-delay: 0.5s;
}

.waterfall div:nth-of-type(3) {
  margin-left: -35px;
  animation-delay: 0.75s;
}

.waterfall div:nth-of-type(4) {
  margin-left: 40px;
  animation-delay: 1s;
}

.waterfall div:nth-of-type(5) {
  margin-left: -60px;
  animation-delay: 1.25s;
}
